:root {
    --color-titulos: #727272;
    --color-stitulos: #323232;
    --color-yellow: #F1B43E;
}

html {
    background-color: #FFF;
}

body {
    display: flex;
    flex: auto;
    margin: 0 auto;
    padding: 40px;
    font-family: Verdana;
    background-color: #FCFBF7;
    border: 1px solid var(--color-stitulos);
    width: 230mm;
    border-radius: 24px;
}

.left-side {
    display: flex;
    justify-content: left;
    float: left;
    width: auto;
    margin: 0;
}

.right-side {
    display: inline-block;
    justify-content: right;
    padding-left: 32px;
    width: auto;
    text-align: justify;
}

.right-side p {
    color: var(--color-titulos);
}

h4 {
    color: var(--color-yellow);
    font-size: large;
}

.nombre {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.nombre h3 {
    margin: 0;
}

.skills h5 {
    background-color: rgba(199, 191, 191, 0.733);
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.04);
}

.exp {
    justify-content: center;
    margin: 0;
}

.exp_lab h5 {
    display: flex;
    padding: 0px;
    margin: 0;
}

.exp_lab h4 {
    margin-bottom: 10px;
}

.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px;
    background: #FFF;
}

.card h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 5px;
    margin: 0;
    color: var(--color-yellow);
}

.contacto {
    background-color: whitesmoke;
    border-radius: 24px;
}

.contacto p {
    font-size: 14px;
    color: var(--color-titulos);
}

.estudios {
    padding: 8px;
    font-size: 14px;
}

.estudios h5 {
    font-size: 14px;
}

.foto {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    padding: 32px;
    margin-bottom: 0;
}

li {
    color: var(--color-titulos);
}

.iconos {
    padding-bottom: 24px;
}

.iconos a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: var(--color-titulos);
    padding-left: 0px;
}

.iconos img {
    padding: 5px;
    height: 30px;
}

.exp_lab h5 {
    font-size: medium;
}

.exp {
    padding-left: 20px;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
    }
}