:root {
    --color-titulos: black;
    --color-stitulos: rgb(107, 102, 102);
}

body {
    display: flex;
    flex: auto;
    margin: 0px;
    width: 100%;
    font-family: Verdana;
}

.left-side {
    display: flex;
    justify-content: left;
    padding: 20px;
    padding-top: 32.16px;
    float: left;
    width: auto;
}

.right-side {
    display: inline-block;
    justify-content: right;
    margin: 0px;
    padding-right: 20px;
    width: auto;
    text-align: justify;
}

h4 {
    color: var(--color-stitulos);
}

.nombre {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.nombre h3 {
    margin: 0;
}

.skills h5 {
    background-color: rgba(199, 191, 191, 0.733);
    text-align: center;
    padding: 10px;
}

.exp {
    justify-content: center;
    margin: 0;
}

.exp_lab h5{
    display: flex;
    padding: 0px;
    margin: 0;
}

.exp_lab h4 {
    margin-bottom: 10px;
}

.contacto p, b {
    font-size: small;
    
}

.foto {
    display: flex;
    flex-direction: column;    
}

.iconos a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Verdana;
    font-size: small;
    color: var(--color-titulos);
    padding-left: 0px;
}

.iconos img {
    padding: 5px;
    height: 30px;
}

h4 {
    font-size: large;
}

.exp_lab h5 {
    font-size: medium;
}

.exp {
    padding-left: 20px;
}